.ui.red.button, .ui.red.buttons .button {
	background-color: #d80505;
}

body, #scanHeader {
	background-color: #eaecef;
}

#scanHeader div.header {
	padding: 0;
}

.dot {
	width: 32px;
	margin-top: .5rem;
}

.downloadText {
	font-size: 1.25rem;
	margin-top: .85rem !important;
}

.row.feature {
	min-height: 80px;
}