@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);*,:after,:before {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px
}
input[type=text],input[type=email],input[type=search],input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none
}
.ui.divider {
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: rgba(0,0,0,.85);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(255,255,255,.1)
}
.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent
}

.ui.button:hover {
  background-color: #cacbcd;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  color: rgba(0,0,0,.8)
}

.ui.button:hover .icon {
  opacity: .85
}

.ui.button:focus {
  background-color: #cacbcd;
  color: rgba(0,0,0,.8);
  background-image: ''!important;
  box-shadow: ''!important
}

.ui.button:focus .icon {
  opacity: .85
}

.ui.active.button:active,.ui.button:active {
  background-color: #babbbc;
  background-image: '';
  color: rgba(0,0,0,.9);
  box-shadow: 0 0 0 1px transparent inset,none
}

.ui.active.button {
  background-color: #c0c1c2;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset;
  color: rgba(0,0,0,.95)
}

.ui.active.button:hover {
  background-color: #c0c1c2;
  background-image: none;
  color: rgba(0,0,0,.95)
}

.ui.active.button:active {
  background-color: #c0c1c2;
  background-image: none
}

.ui.loading.loading.loading.loading.loading.loading.button {
  position: relative;
  cursor: default;
  text-shadow: none!important;
  color: transparent!important;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0s linear,opacity .1s ease;
  transition: all 0s linear,opacity .1s ease
}

.ui.loading.button:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.64285714em 0 0 -.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.15)
}

.ui.loading.button:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.64285714em 0 0 -.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent
}

.ui.labeled.icon.loading.button .icon {
  background-color: transparent;
  box-shadow: none
}